body {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  font-family: Roboto, "helvetica neue", Arial, "noto sans", sans-serif;
  background-color: #393;
}

main {
  min-height: 50vh;
}
